.root {
    /*-fx-background-color: linear-gradient(#d53369 0%, #daae51 100%);*/
    -fx-background-color: #000;
    -fx-font-size: 20px;
    -fx-text-fill: #212121;
}

.label {
    -fx-label-padding: 10px 15px;
    -fx-background-color: rgba(255,255,255,.1);
    -fx-border-color: rgba(255,255,255,.15);
    -fx-text-fill: #fff;
    -fx-text-alignment: right;
}

.circle {
    -fx-fill: rgba(255,255,255,.05);
    -fx-stroke: rgba(255,255,255,.3);
    -fx-stroke-width: 4px;
    -fx-stroke-type: outside;

}

.rectangle {
    -fx-fill: linear-gradient(from 0% 0% to 100% 100%, #FC466B 0%, #3F5EFB 100%);
}

.button {
    -fx-background-color: rgba(255,255,255,.4);
    -fx-background-radius: 4px;
    -fx-border-color: rgba(255,255,255,.25);
    -fx-text-fill: #fff;
}
.button:hover {
    -fx-background-color: rgba(255,255,255,.5);
}

.button:armed {
    -fx-background-color: rgba(255,255,255,.3);
}
.button--number {
    -fx-background-color: rgba(255,255,255,.2);
    /*-fx-font-size: 20px;*/
}
.button--number:hover {
    -fx-background-color: rgba(255,255,255,.3);
}
.button--number:armed {
    -fx-background-color: rgba(255,255,255,.1);
}