.gridPane{
   -fx-background-color: red;
}
.calculator {
    -fx-font-family           : "System";
    -fx-font-size             : 13.0px;
    -fx-outer-border          : transparent;
    -fx-shadow-highlight-color: transparent;
}

.label{
   -fx-background-color: white;
   -fx-alignment: CENTER_RIGHT;
   -fx-font-size: 50;
   -fx-padding: 4 4 0 4;
}

.button {
    -fx-background-color : -fx-shadow-highlight-color, -fx-outer-border, -fx-inner-border, -fx-body-color;
    -fx-background-insets: -1.0, 0, 1, 2;
    -fx-background-radius: 6.4, 5, 4, 3;
    -fx-padding          : 0.166667em 0.833333em 0.25em 0.833333em; /* 2 10 3 10 */
    -fx-text-fill        : -fx-text-base-color;
    -fx-alignment        : CENTER;
    -fx-content-display  : LEFT;
    -fx-font-size        : 20;
}

.button:focused {
    -fx-color           : -fx-focused-base;
    -fx-background-color: rgb(195, 197, 198), -fx-outer-border, -fx-inner-border, -fx-body-color;
}

.button:hover {
    -fx-color: -fx-hover-base;
}

.button:armed {
    -fx-color: -fx-pressed-base;
}

.button:default {
    -fx-base: -fx-accent;
}

.button:cancel {
}

.button:disabled {
    -fx-opacity: -fx-disabled-opacity;
}

.button:show-mnemonics .mnemonic-underline {
    -fx-stroke: -fx-text-fill;
}

.button-gray {
    -fx-background-color: transparent, -fx-outer-border, -fx-inner-border, -fx-body-color;
    -fx-inner-border    : linear-gradient(to bottom, rgba(255, 255, 255, 0.5) 0%, rgba(153, 153, 153, 0.5) 100%);
    -fx-body-color      : linear-gradient(to bottom, rgb(76, 81, 84) 0%, rgb(102, 107, 110) 100%);
    -fx-text-base-color : #ffffff;
}

.button-gray:armed {
    -fx-background-color: transparent, -fx-outer-border, -fx-inner-border, -fx-body-color;
    -fx-inner-border    : linear-gradient(to bottom, rgba(255, 255, 255, 0.5) 0%, rgba(153, 153, 153, 0.5) 100%);
    -fx-body-color      : linear-gradient(to bottom, rgb(36, 41, 44) 0%, rgb(62, 67, 70) 100%);
    -fx-text-base-color : #ffffff;
}

.button-brown {
    -fx-inner-border   : linear-gradient(to bottom, rgba(255, 255, 255, 0.5) 0%, rgba(91, 81, 74, 0.5) 100%);
    -fx-body-color     : linear-gradient(to bottom, rgb(103, 88, 79) 0%, rgb(128, 113, 104) 100%);
    -fx-text-base-color: #ffffff;
}

.button-brown:armed {
    -fx-inner-border   : linear-gradient(to bottom, rgba(255, 255, 255, 0.5) 0%, rgba(91, 81, 74, 0.5) 100%);
    -fx-body-color     : linear-gradient(to bottom, rgb(63, 48, 39) 0%, rgb(88, 73, 64) 100%);
    -fx-text-base-color: #ffffff;
}

.button-red {
    -fx-background-color: transparent, -fx-outer-border, -fx-inner-border, -fx-body-color;
    -fx-inner-border    : linear-gradient(to bottom, rgba(255, 255, 255, 0.5) 0%, rgba(1127, 26, 26, 0.5) 100%);
    -fx-body-color      : linear-gradient(to bottom, rgb(159, 34, 34) 0%, rgb(185, 60, 60) 100%);
    -fx-text-base-color : #ffffff;
}

.button-red:focused {
    -fx-color           : -fx-focused-base;
    -fx-background-color: transparent, -fx-outer-border, -fx-inner-border, -fx-body-color;
}

.button-red:armed {
    -fx-background-color: transparent, -fx-outer-border, -fx-inner-border, -fx-body-color;
    -fx-inner-border    : linear-gradient(to bottom, rgba(255, 255, 255, 0.5) 0%, rgba(1127, 26, 26, 0.5) 100%);
    -fx-body-color      : linear-gradient(to bottom, rgb(99, 0, 0) 0%, rgb(125, 0, 0) 100%);
    -fx-text-base-color : #ffffff;
}

.button-white {
    -fx-background-color: transparent, -fx-outer-border, -fx-inner-border, -fx-body-color;
    -fx-inner-border    : linear-gradient(to bottom, rgba(255, 255, 255, 0.5) 0%, rgba(165, 165, 165, 0.5) 100%);
    -fx-body-color      : linear-gradient(to bottom, rgb(206, 206, 206) 0%, rgb(229, 229, 229) 100%);
    -fx-text-base-color : #000000;
}

.button-white:armed {
    -fx-background-color: transparent, -fx-outer-border, -fx-inner-border, -fx-body-color;
    -fx-inner-border    : linear-gradient(to bottom, rgba(255, 255, 255, 0.5) 0%, rgba(165, 165, 165, 0.5) 100%);
    -fx-body-color      : linear-gradient(to bottom, rgb(76, 81, 84) 0%, rgb(102, 107, 110) 100%);
    -fx-text-base-color : #ffffff;
}

.button-yellow {
    -fx-background-color: transparent, -fx-outer-border, -fx-inner-border, -fx-body-color;
    -fx-inner-border    : linear-gradient(to bottom, rgba(255, 255, 255, 0.5) 0%, rgba(176, 92, 21, 0.5) 100%);
    -fx-body-color      : linear-gradient(to bottom, rgb(221, 115, 26) 0%, rgb(247, 141, 52) 100%);
    -fx-text-base-color : #ffffff;
}

.button-yellow:focused {
    -fx-color           : -fx-focused-base;
    -fx-background-color: transparent, -fx-outer-border, -fx-inner-border, -fx-body-color;
}

.button-yellow:armed {
    -fx-background-color: transparent, -fx-outer-border, -fx-inner-border, -fx-body-color;
    -fx-inner-border    : linear-gradient(to bottom, rgba(255, 255, 255, 0.5) 0%, rgba(176, 92, 21, 0.5) 100%);
    -fx-body-color      : linear-gradient(to bottom, rgb(161, 55, 0) 0%, rgb(187, 81, 0) 100%);
    -fx-text-base-color : #ffffff;
}
