.root {
    -fx-padding: 10;
    -fx-pref-height: 300;
    -fx-pref-width: 400;
}

.button {
    -fx-background-color: red;
    -fx-text-fill: white;
    -fx-background-radius: 24;
    -fx-font-size: 24px;
}

.button:hover {
    -fx-scale-x: 1.5;
    -fx-scale-y: 1.2;
    -fx-cursor: hand;
}

.button:armed {
    -fx-scale-x: 1.0;
    -fx-scale-y: 1.0;
    -fx-background-color: darkred;
}