.calc{
    -fx-background-image: url(Hintergrund.png);
}

#Numbers {
    -fx-shape: "M17.4999 1.5L7.00001 73C-5.99999 119 -5 203.5 96.9999 203.5C199.532 203.5 194 118.667 178.5 73L172 1.5C158.5 21 130.5 59 130.5 59C102 33 71 47.3333 56 59L17.4999 1.5Z";
    -fx-background-color: rgb(20, 20, 20);
    -fx-background-insets: 5;
    -fx-font-size: 20;
    -fx-text-fill: white;
}

#Numbers:hover{
    -fx-background-image: url(Katzenaugen.png) ;
    -fx-background-position: bottom right;
    -fx-background-repeat: repeat;
    -fx-border-color: #AAAAAA;
    -fx-text-fill: black;
    -fx-cursor: hand;
}

#NotNumbers{
    -fx-shape: "M338 33.5C273.6 -18.1 193 5 158.5 26C150 18.5 131.2 5.00001 106 1C74.5 -4.00001 28.3127 43.941 15.4998 59.5C8.5 68 8.66649 77.5 12.4998 79.5C33.8332 61 70 24 89.9999 20.5C100.99 18.5767 129.833 30.3333 143 37L124 59.5C122.167 59.3333 109.5 52.5 89.9999 50C65.3771 46.8432 -6.00014 113.5 1.49986 123.5C8.99986 133.5 5.49984 127.5 47.4999 90.5C81.0999 60.9 105.333 68.5 112.5 75.5C104.5 83 101 104.5 101 104.5C66.9999 107.3 21.9998 151.833 5.49983 174L12.4998 184C37.6998 147.2 77.4999 123.5 97.4998 123.5C95.9999 133 97.4998 154 97.4998 154C60.6998 156.4 27.4998 220 15.4998 251.5C16.8332 258 24.4998 257 24.4998 257C73.9999 160.5 104.5 174 104.5 174C113.5 207 166.5 262 254.5 262C324.9 262 368.167 205.333 381 177C386.5 176.167 398 173.3 416 178.5C434 183.7 465.833 237.167 477.5 262L486.5 257C483.5 237 448.5 187.5 433 171C420.6 157.8 396.5 154 390 157V132.5C396.5 122.5 415 127 430 135.5C445.109 144.062 477.5 170.833 490.5 187L495.5 181C495.5 179 491.812 165.207 456.5 135.5C425 109 399.167 105.5 390 112L381 82.5C385.833 79 399.2 72.5 420 74.5C440.8 76.5 479.5 114 495.5 132.5L501.5 124.5C495.5 102.5 442.5 61.5 420 54.5C403.235 49.2844 371 68 369.5 64C368.3 60.8 357.667 48.3333 351.5 43.5C366.5 32.5 398.856 21.3093 409 23C436 27.5 468.5 65 486.5 82.5L493 74.5C478.2 40.9 426.5 7.99996 403 4.49995C364 5.99996 338 33.5 338 33.5Z";
    -fx-background-color: rgb(23, 0, 46);
    -fx-text-fill: white;
    -fx-font-size: 20;
}

#NotNumbers:hover{
    -fx-background-image: url(Spinnenaugen.png);
    -fx-text-fill: rgb(0, 0, 0);
    -fx-cursor: hand;

}

#Equal{
    -fx-background-color: rgb(255, 255, 255);
    -fx-shape: "M24.5221 25.4324C25.9293 32.0972 23.3073 47.5349 19.584 54.7728C14.4139 62.4063 13.9383 73.9399 19.8995 69.2003C25.8607 64.4606 26.1695 67.4863 26.3914 72.0907C26.6134 76.6952 32.2726 80.3316 35.909 74.6724C39.5455 69.0133 40.9473 66.5567 46.7834 72.7365C52.6195 78.9163 54.809 73.6527 55.8604 71.8102C56.9118 69.9678 54.7606 65.8907 59.8056 69.1767C64.8507 72.4627 67.8313 70.0929 67.5225 67.0672C67.2138 64.0416 65.1944 60.4468 59.7956 52.0741C54.3967 43.7014 57.0235 36.2448 56.708 21.8174C56.3925 7.39 49.3315 6.21015 39.2449 5.33904C29.1582 4.46793 22.7631 17.1013 24.5221 25.4324Z";
    -fx-text-fill: black;
    -fx-font-size: 20;

}

#Equal:hover{
    -fx-background-image: url(Geistergesicht.png);
    -fx-text-fill: rgb(0, 0, 0);
    -fx-cursor: hand;
}

#Zahl{
    -fx-font-size: 40;
    -fx-fill: white;

}

#Netz{
    -fx-shape: "M32.5 71.5C34.1 49.1 17 14 2 1L17 2M32.5 71.5C32.5 71.5 75.5117 71 103 101.5L102.5 86.5M32.5 71.5L43.5 61.5M102.5 86.5C102.5 86.5 83 61.5 43.5 61.5M102.5 86.5V71M43.5 61.5C43.5 61.5 42.5 24.7006 17 2M43.5 61.5L52.5 51.5M17 2H33M33 2C53.5 24.7006 52.5 41.1001 52.5 51.5M33 2H53.5M52.5 51.5C52.5 51.5 76 45 102.5 71M52.5 51.5L68.5 36M102.5 71L103 50.5M103 50.5C103 50.5 90 36 68.5 36M103 50.5V32.5M68.5 36C68.5 36 66.5 12.5 53.5 2M68.5 36L79.8726 24.7006M53.5 2C53.5 2 63.1667 2 70.5 2M70.5 2C75 6 79 17 79.5 22.5L79.8726 24.7006M70.5 2H103M103 32.5C103 32.5 89.5 23.5 79.8726 24.7006M103 32.5V2M103 2L79.8726 24.7006";
    -fx-background-color: rgba(255, 255, 255, 0.33);
}